/*----------------------- General Styles --------------------------*/

html {
    font-size: 15px;
}

body {
    font-size: 1em;
    background-color: hsl(212, 45%, 89%);
    color: hsla(0, 0%, 100%, .75);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    max-width: 375px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 75px auto;

}

.qr-container {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    align-content: center;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

p {
    color: hsl(218, 44%, 22%);
    text-align: center;
    color: hsl(220, 15%, 55%);
}

img {
    width: 100%;
    border-radius: 20px;

}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    margin: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}